BasedOnStyle: LLVM  
IndentWidth: 4     
TabWidth: 4           
ColumnLimit: 80        
BreakBeforeBraces: Attach
AllowAllParametersOfDeclarationOnNextLine: true  
SpaceBeforeParens: ControlStatements 